---
layout: post
title: Play testing feedback
post_author: Nigel Robb
---
Our first [prototype game](http://nrobb.github.io/taster/) is currently being play tested, and we have some encouraging initial feedback:

Children found the prototype enjoyable, and showed good levels of comprehension of the overall gameplay. Also, we found that the children had a good level of understanding of the specific switching tasks within the game: when the target indicating which creature they should collect changed, children were generally able to make the switch to the new target easily.

Parent’s reports of children’s behaviour when playing the game were also positive: children exhibited behaviour which was previously associated with high levels of enjoyment (e.g. talking to themselves and others, smiling, making non-speech noises). In general, children seemed motivated to play the game and get a higher score. We did have one report that the game was a little frustrating, although this frustration eased as the child came to understand the gameplay better.

Overall, these initial results show that players achieve a high level of satisfaction from the game, and find the interface and gameplay easy to understand. This is enough to confirm that we're at least on the right track with this prototype, so the best course of action seems to be to develop this game further.

To help with this development, we also got some great suggestions about how to improve the game, including having more variety in the gameplay, better controls and more backstory and character development to help players engage with the main character.
